.primary-color{
    color: #07af00;
}

.secondary-color{
    color: #fe0000;
}

.ordinary{
    color: #b6ffd4;
}

.box-group{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box{
    background-color: #07af00;
    border-radius: 10px;
    color: white !important;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-group .box strong{
    font-size: 50px;
    font-weight: 500 !important;
}

.background-text-section{
    background : #07af00;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-check-input:checked {
    background-color: #07af00;
    border-color: black;
}

.custom-radio-size {
    transform: scale(1.5); /* Increases the size of the radio button */
  }

  .product-section, .order-section{
    background : #b6ffd4;
    border-radius: 20px;
  }

  .custom-input{

    border : 2px solid #07af00;
    background : #e0ffef;

  }

  .custom-btn{
    background-color: #07af00;
    color: white;
  }

  .custom-btn:hover{
    background-color: #07af00;
    color: white;
  }

  .cart-section{
    background : #e0ffef;
    padding: 35px;
  }

  .cart-section .cart-container{
    border-top : 12px solid #07af00;
    border-bottom : 12px solid #07af00;
    border-left : 5px solid #07af00;
    border-right : 5px solid #07af00;
    padding: 20px;
    border-radius: 15px;
  }


/* Circled discounted price */
.circled-price {
  position: relative;
  display: inline-block;
  color: red;
}

.circled-price::before {
  content: '';
  position: absolute;
  top: -15%;
  left: -15%;
  width: 130%; /* Set the circle size */
  height: 130%;
  border-radius: 50%;
  border: 2px solid red;
  animation: pulse 1s infinite; /* Continuous pulse animation */
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slightly grow */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

.regular-price{
  position: relative;
}

.cross{
  position: absolute;
  right: 2px;
  top: -10px;
}






.container.cart-container .attributes {
  grid-column-gap: 10px;
  align-items: center;
}

.container.cart-container .attributes p {
  margin: 0;
  font-size: 22px;
}

.payment-option {}

.payment-option .form-check {
  display: flex;
}

.shippingoption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 15px;
}

.shippingoption .form-check {
  display: flex;
  align-items: center;
  background: #b6ffd5;
  padding: 12px 29px 12px 40px;
  font-weight: 500;
  border-radius: 10px;
  grid-column-gap: 10px;
  width: -webkit-fill-available;
}

.shippingoption .form-check input {
  width: 25px;
  height: 25px;
}


.quantity-controls {
  border: 2px solid #000000;
  border-radius: 20px;
}

.quantity-controls button {
  border: none;
}

.quantity-controls button.btn.incr {
  border-left: 2px solid;
  border-radius: unset;
  font-weight: 900;
  font-size: 18px;
  padding: 0;
  width: 30px;
  height: 30px;
  color: black;
}
.quantity-controls button.btn.decr {
  border-right: 2px solid;
  border-radius: unset;
  font-weight: 900;
  font-size: 18px;
  padding: 0;
  width: 30px;
  height: 30px;
  color: black;
}
.quantity-controls button:hover {
  background: unset;
  color: unset;
}
.quantity-controls button:active {
  background-color: unset;
  background: unset;
  color: unset;
}
.product-section label {
  width: 48%;
  padding-right: 20px;
}